[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/mtrsstruct"]
	path = external/mtrsstruct
	url = https://github.com/StanislavChumak/mtrsstruct
