[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "external/struct"]
	path = external/struct
	url = https://github.com/StanislavChumak/mtrsstruct.git
