[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/utils"]
	path = external/utils
	url = https://github.com/StanislavChumak/mtrsutils.git
